.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-left {
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
    margin-right: 20px;
}

.main-menu a {
    margin-right: 20px;
    text-decoration: none;
    color: #B75B30;
    font-weight: bold;
}

.header-right {
    display: flex;
    align-items: center;
}

.search-container {
    position: relative;
}

.search-bar {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 20px;
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
}

.header-right a {
    margin-left: 10px;
    text-decoration: none;
    color: #000;
}

.icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}
